body {
  background-color: #e6ebef !important;
  margin: 10px;
}

.page {
  width: 100vw;
  height: 100vh;
}

.page a {
  text-align: left;
  position: absolute;
}

.App {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .page {
    transform: rotate(90deg);
    transform-origin:bottom left;
    
    position:absolute;
    top:-90vw;
    left: 10vw;
    
    height:90vw;
    width:90vh;
  }
}