.modal-body {
  text-align: center;
}

.action-buttons button.btn {
  width: 100%;
}

@media (max-width: 450px) {
  .header h1 {
    font-size: calc(0.9rem + 1.5vw);
  }

  .header select {
    margin-top: 0px !important;
  }
}

.header select {
  font-size: initial;
  margin-top: 10px;
}

.spinner-border {
  vertical-align: middle;
  margin-left: 5px;
}